body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #ccc;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    width: 400px;
}

input {
    width: 95%;
    height: 50px;
    margin-top: 8px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    justify-content: center;
    padding: 20px;
}

.key {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background: #3498db;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.key:hover {
    background: #2980b9;
}

.clear-btn,
.enter-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.clear-btn {
    background: #e74c3c;
    color: white;
}

.clear-btn:hover {
    background: #c0392b;
}

.enter-btn {
    background: #2ecc71;
    color: white;
}

.enter-btn:hover {
    background: #27ae60;
}

.zero-key {
    grid-column: 2 / 3; /* Center 0 in the last row */
}

.backspace-symbol {
    grid-column: 3 / 4;
    font-size: 24px;
    font-weight: bold;
    background: #f1c40f;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.backspace-symbol:hover {
    background: #f39c12;
}
